---
import PageLayout from "../../layouts/PageLayout.astro";
import { getAllItems } from "../../content/index.ts";
import ItemList from "../../components/ItemList.astro";

const allItems = await getAllItems();
---

<PageLayout>
  <section class="my-8">
    <h2 class="text-blue-white mb-2 text-2xl">All posts</h2>
    <ItemList items={allItems} />
  </section>
</PageLayout>
