---
import PageLayout from "../../layouts/PageLayout.astro";
import {
  blogCollectionRepository,
  getAllBlogItems,
} from "../../contents/blog.ts";
import ItemList from "../../components/ItemList.astro";

const allBlogPosts = await getAllBlogItems(blogCollectionRepository);
---

<PageLayout breadcrumbs={["ブログ"]}>
  <section class="my-8">
    <h2 class="text-blue-white mb-2 text-2xl">すべてのブログ記事</h2>
    <ItemList items={allBlogPosts} />
  </section>
</PageLayout>
