@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-midnight: #0a192f;
  --color-blue-white: #e6f1ff;
  --color-light-blue: #609ffb;
  --color-dark-blue: #344e73;
  --font-default:
    "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans",
    Meiryo, sans-serif;
}
