---
import PageLayout from "../../layouts/PageLayout.astro";
import { getAllItems, getAllTagUsages } from "../../content/index.ts";
import ItemList from "../../components/ItemList.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const tagUsages = await getAllTagUsages();
  return Array.from(tagUsages.entries()).map(([tag]) => ({
    params: { slug: tag },
  }));
}

const allItems = await getAllItems();
const { slug = "" } = Astro.params;
// URLデコード
const decodedSlug = decodeURIComponent(slug);
const filteredItems = allItems.filter((item) =>
  item.tags?.includes(decodedSlug),
);
---

<PageLayout
  breadcrumbs={[
    { label: "すべてのタグ一覧", href: "/tags" },
    `"#${decodedSlug}" タグがついた記事一覧`,
  ]}
>
  <section class="my-8">
    <h2 class="text-blue-white mb-2 text-2xl">
      "#{slug}" タグがついた記事一覧
    </h2>
    <ItemList items={filteredItems} />
  </section>
</PageLayout>
