---
import TextLink from "../../components/TextLink.astro";
import { getAllTagUsages } from "../../contents/index.ts";
import PageLayout from "../../layouts/PageLayout.astro";

const allTags = await getAllTagUsages();
---

<PageLayout breadcrumbs={["すべてのタグ一覧"]}>
  <section class="my-8">
    <h2 class="text-blue-white mb-2 text-2xl">すべてのタグ一覧</h2>
    <ul class="list-inside list-disc">
      {
        Array.from(allTags.entries()).map(([tag, usage]) => (
          <li class="text-md text-blue-white mb-1">
            <TextLink
              label={`${decodeURI(tag)} (${usage})`}
              href={`/tags/${tag}`}
            />
          </li>
        ))
      }
    </ul>
  </section>
</PageLayout>
