---
import TextLink from "../components/TextLink.astro";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout>
  <section class="my-8">
    <h2 class="text-blue-white mb-2 text-2xl">404</h2>
    <p class="text-blue-white mt-4 text-sm">指定されたページは存在しません。</p>
  </section>
</PageLayout>
