---
import { Image } from "astro:assets";
import PageLayout from "../layouts/PageLayout.astro";

const intro = `はじめまして！日本でフロントエンドエンジニアをしているYuki Okawa（@ykokw）です。
私はReact、Next.jsを中心にUIの開発・運用を行っています。
Vitest、Playwrightでの自動テスト整備・CI/CD環境整備にも取り組んでいます。
`;
---

<PageLayout breadcrumbs={["About me"]}>
  <section class="my-8 flex items-center gap-4">
    <Image
      src="/images/profile.jpg"
      alt="Yuki Okawa's profile picture"
      width={80}
      height={80}
      class="rounded-full"
    />
    <p class="text-blue-white text-sm whitespace-pre-wrap">{intro}</p>
  </section>
</PageLayout>
