---
import BlogInfo from "../components/BlogInfo.astro";
import TextLink from "../components/TextLink.astro";
import PageLayout from "../layouts/PageLayout.astro";
import { getCollection } from "astro:content";

const allBlogPosts = await getCollection("blog");
const posts = allBlogPosts.sort(
  (a, b) => Date.parse(b.data.publishedDate) - Date.parse(a.data.publishedDate),
);
---

<PageLayout>
  <section class="my-8">
    <h2 class="text-blue-white mb-2 text-2xl">Recent blog posts</h2>
    <ul>
      {
        posts.map((post) => (
          <li class="text-md text-blue-white mb-2 flex flex-col">
            <TextLink label={post.data.title} href={`/blog/${post.id}`} />
            <BlogInfo
              publishedDate={post.data.publishedDate}
              tags={post.data.tags}
            />
          </li>
        ))
      }
    </ul>
  </section>
</PageLayout>
