---
import BlogInfo from "../components/BlogInfo.astro";
import TextLink from "../components/TextLink.astro";
import PageLayout from "../layouts/PageLayout.astro";
import { getLatestItems, getTopTags } from "../content/index.ts";
import ItemList from "../components/ItemList.astro";

const latestItems = await getLatestItems();
const topTags = await getTopTags();
---

<PageLayout>
  <section class="my-8">
    <h2 class="text-blue-white mb-2 text-2xl">Recent posts</h2>
    <ItemList items={latestItems} />
    <p class="text-blue-white mt-4 text-sm">
      <TextLink label="View all posts..." href="/blog" />
    </p>
  </section>
  <section class="my-8">
    <h2 class="text-blue-white mb-2 text-2xl">Recently used tags</h2>
    <p class="text-blue-white text-sm opacity-70">（Zennの記事は集計対象外）</p>
    <ul class="list-inside list-disc">
      {
        topTags.map(([tag, percent]) => (
          <li class="text-md text-blue-white mb-1">
            {tag}: {percent} %
          </li>
        ))
      }
    </ul>
    {
      topTags.length === 0 && (
        <p class="text-blue-white text-sm">No tags found.</p>
      )
    }
    <p class="text-blue-white mt-4 text-sm">
      <TextLink label="View all tags..." href="/tags" />
    </p>
  </section>
</PageLayout>
