---
import TextLink from "../components/TextLink.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const allBlogPosts = await getCollection("blog");
const posts = allBlogPosts.sort(
  (a, b) => Date.parse(b.data.publishedDate) - Date.parse(a.data.publishedDate)
);
---

<Layout>
  <section class="my-8">
    <h2 class="text-2xl text-blue-white mb-2">Recent blog posts</h2>
    <ul>
      {
        posts.map((post) => (
          <li class="text-md text-blue-white flex flex-col mb-2">
            <span class="text-sm text-light-blue">
              {post.data.publishedDate}
            </span>
            <TextLink label={post.data.title} href={`/blog/${post.id}`} />
            <span class="text-sm">
              {post.data.tags?.map((tag) => `#${tag}`).join(", ")}
            </span>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
