---
import TextLink from "../components/TextLink.astro";
import PageLayout from "../layouts/PageLayout.astro";
import { getLatestItems, getTopTagsLastYear } from "../contents/index.ts";
import ItemList from "../components/ItemList.astro";
import HorizontalBarChart from "../components/HorizontalBarChart.astro";

const latestItems = await getLatestItems();
const topTagsLastYear = await getTopTagsLastYear();
---

<PageLayout>
  <section class="my-8">
    <h2 class="text-blue-white mb-2 text-2xl">最近の記事</h2>
    <ItemList items={latestItems} />
    <p class="text-blue-white mt-4 text-sm">
      <TextLink label="すべての記事を見る" href="/articles" />
    </p>
  </section>
  <section class="my-8">
    <h2 class="text-blue-white mb-2 text-2xl">タグ別の記事数Top5</h2>
    <p class="text-blue-white text-sm opacity-70">
      直近1年で公開した記事で集計 （Zennの記事は集計対象外）
    </p>
    <div class="my-4">
      <HorizontalBarChart data={topTagsLastYear} client:load />
    </div>
    <p class="text-blue-white mt-4 text-sm">
      <TextLink label="すべてのタグを見る" href="/tags" />
    </p>
  </section>
</PageLayout>
