---
import Layout from "../layouts/Layout.astro";
import TextLink from "../components/TextLink.astro";

const profileLinks = [
  { label: "GitHub", href: "https://github.com/ykokw" },
  { label: "LAPRAS", href: "https://lapras.com/public/ykokw" },
];

const snsLinks = [
  { label: "X(Twitter)", href: "https://twitter.com/ykokw" },
  { label: "Threads", href: "https://www.threads.net/@ykokw" },
  { label: "Bluesky", href: "https://bsky.app/profile/ykokw.bsky.social" },
];

const blogLinks = [
  { label: "Zenn", href: "https://zenn.dev/ykokw" },
  { label: "Qiita", href: "https://qiita.com/ykokw" },
  { label: "しずかなインターネット", href: "https://sizu.me/ykokw" },
];

const title="Yuki Okawa (@ykokw)"
---

<Layout title={title}>
  <main>
    <h1>{title}</h1>
    <div class="content">
      <p class="introduction">
        <img src="/images/profile.jpg" alt="Yuki Okawaのプロフィール画像" />
        Hi, I am Yuki Okawa.<br />
        日本でフロントエンドエンジニアとして働いています。
      </p>

      <h2>Links</h2>
      <h3>Profile</h3>
      <ul class="links">
        {
          profileLinks.map((params, index) => (
            <li>
              <TextLink {...params} />
              {index !== profileLinks.length - 1 && (
                <span class="divider">/</span>
              )}
            </li>
          ))
        }
      </ul>
      <h3>SNS</h3>
      <ul class="links">
        {
          snsLinks.map((params, index) => (
            <li>
              <TextLink {...params} />
              {index !== snsLinks.length - 1 && <span class="divider">/</span>}
            </li>
          ))
        }
      </ul>
      <h3>Tech Blog / Diary</h3>
      <ul class="links">
        {
          blogLinks.map((params, index) => (
            <li>
              <TextLink {...params} />
              {index !== blogLinks.length - 1 && <span class="divider">/</span>}
            </li>
          ))
        }
      </ul>
      <h2>Mottos</h2>
      <ul class="values">
        <li>There is more than one way to do it.</li>
        <li>ねだるな、勝ち取れ、さすれば与えられん</li>
      </ul>
    </div>
    <footer>
      <p class="footer">&copy; 2023 Yuki Okawa</p>
    </footer>
  </main>
</Layout>

<style>
  main {
    flex-grow: 1;
    flex-shrink: 0;
    margin: 48px auto;
    padding: 1rem;
    max-width: 600px;
    min-width: 300px;
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    color: #4d4d4d;
    background: #f4f4f4;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }
  @media screen and (max-width: 600px) {
    main {
      margin: 16px;
    }
  }
  @media screen and (max-height: 600px) {
    main {
      margin: 16px;
      max-width: 100%;
    }
  }
  h1 {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
  }
  h2 {
    margin: 36px 0 12px;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  h3 {
    margin: 12px 0 4px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  ul.links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
  }
  ul.values {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .divider {
    padding: 0 4px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .footer {
    margin-top: 48px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .content {
    flex: 1;
  }
  p,
  ul.values {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  p {
    word-break: auto-phrase;
  }
  .introduction {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
  }
  .introduction img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
  }
</style>
