---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout breadcrumbs={["サイトポリシー・プライバシーポリシー"]}>
  <main>
    <h1>Policy</h1>
    <div class="content">
      <p>ポリシーページ</p>
    </div>
  </main>
</PageLayout>
