---
import calendarTodayIcon from "../assets/icons/calendar-today.svg?url";
import tagIcon from "../assets/icons/tag.svg?url";

interface Props {
  publishedDate: string;
  tags?: string[];
}
const { publishedDate, tags } = Astro.props;
---

<div class="flex flex-wrap items-center gap-x-4 gap-y-0 opacity-70">
  <span class="flex items-center gap-0.5 text-sm" aria-label="published date:">
    <img src={calendarTodayIcon} width="16" height="16" class="not-prose" />
    {publishedDate}
  </span>
  {
    tags && tags.length > 0 && (
      <span class="flex items-center gap-0.5 text-sm" aria-label="tags:">
        <img src={tagIcon} width="16" height="16" class="not-prose" />
        {tags?.map((tag) => `${tag}`).join(", ")}
      </span>
    )
  }
</div>
