---
interface Props {
  breadcrumbs: (string | { label: string; href: string })[];
}
const { breadcrumbs = [] } = Astro.props;
---

<p class="text-light-blue w-full grow">
  {
    breadcrumbs.length > 0 &&
      breadcrumbs.map((breadcrumb) => {
        if (typeof breadcrumb === "object" && breadcrumb.href) {
          return (
            <span class="inline">
              <span>/</span>
              <a
                class="px-1 transition-all ease-in-out hover:underline"
                href={breadcrumb.href}
              >
                {breadcrumb.label}
              </a>
            </span>
          );
        } else if (typeof breadcrumb === "string") {
          return (
            <span class="inline">
              <span>/</span>
              <span class="px-1">{breadcrumb}</span>
            </span>
          );
        }
      })
  }
</p>
