---
import TextLink from "./TextLink.astro";
---

<footer
  class="text-blue-white border-dark-blue mt-auto flex items-center gap-4 border-t py-4 text-left text-sm opacity-70"
>
  <p>&copy; 2025 Yuki Okawa</p>
  <TextLink href="/policy" label="サイト・プライバシーポリシー" />
</footer>
