---
import TextLink from "./TextLink.astro";
---

<footer
  class="mt-auto py-4 text-left text-blue-white flex items-center gap-4 text-sm opacity-70 border-t border-dark-blue"
>
  <p>&copy; 2025 Yuki Okawa</p>
  <TextLink href="/policy" label="サイト・プライバシーポリシー" />
</footer>
