---
import TextLink from "./TextLink.astro";
---

<header class="flex items-center justify-between py-4 text-blue-white w-full">
  <h1>
    <a href="/">Yuki Okawa (@ykokw)</a>
  </h1>
  <TextLink label="About" href="/about" />
</header>
