---
import TextLink from "./TextLink.astro";
---

<header class="text-blue-white flex w-full items-center justify-between py-4">
  <h1>
    <a href="/">Yuki Okawa (@ykokw)</a>
  </h1>
  <TextLink label="About me" href="/about" />
</header>
