---
interface Props {
  label: string;
  href: string;
  target?: string;
  rel?: string;
}

const { href, label, target, rel } = Astro.props;
---

<a
  href={href}
  target={target}
  rel={rel}
  class="text-blue-white hover:text-light-blue transition-colors duration-500 ease-in-out"
>
  <span class="underline underline-offset-4">{label}</span>
  {
    typeof target !== "undefined" && (
      <span
        aria-label="open link in new tab"
        class="text-blue-white opacity-70"
      >
        <span
          class="font-material-symbols inline-flex align-middle text-base!"
          aria-hidden="true"
        >
          open_in_new
        </span>
      </span>
    )
  }
</a>
