---
interface Props {
  label: string;
  href: string;
}

const { href, label } = Astro.props;
---

<a href={href} target="_blank" rel="noopener noreferrer">
  {label}
</a>

<style>
  @media (prefers-color-scheme: light) {
    a {
      color: #4d4d4d;
    }
  }
  @media (prefers-color-scheme: dark) {
    a {
      color: #D9D9D9;
    }
  }
  a {
    transition: color 0.5s ease;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
    text-decoration: underline;
  }
</style>
