---
interface Props {
  label: string;
  href: string;
  target?: string;
  rel?: string;
}

const { href, label, target, rel } = Astro.props;
---

<span
  class="text-blue-white hover:text-light-blue flex gap-1 transition-colors duration-500 ease-in-out"
>
  <a
    href={href}
    target={target}
    rel={rel}
    class="flex items-center gap-0.5 underline"
  >
    {label}
  </a>
  {
    typeof target !== "undefined" && (
      <span class="flex items-center gap-0.5" aria-label="open link in new tab">
        <span class="material-symbols-outlined text-base!" aria-hidden="true">
          open_in_new
        </span>
      </span>
    )
  }
</span>
