---
interface Props {
  label: string;
  href: string;
  target?: string;
  rel?: string;
}

const { href, label, target, rel } = Astro.props;
---

<a
  href={href}
  target={target}
  rel={rel}
  class="text-blue-white hover:text-light-blue flex items-center gap-x-0.5 transition-colors duration-500 ease-in-out"
>
  <span class="underline">{label}</span>
  {
    typeof target !== "undefined" && (
      <span class="flex items-center gap-0.5" aria-label="open link in new tab">
        <span class="material-symbols-outlined text-base!" aria-hidden="true">
          open_in_new
        </span>
      </span>
    )
  }
</a>
