---
interface Props {
  label: string;
  href: string;
  target?: string;
  rel?: string;
}

const { href, label, target, rel } = Astro.props;
---

<a
  href={href}
  target={target}
  rel={rel}
  class="text-blue-white hover:text-light-blue underline transition-colors duration-500 ease-in-out"
>
  {label}
</a>
